<h1><%= t("views.users.Hello")%></h1>
<table class="table">
  <tr>
  	<td><%= t"views.users.name"%></td>
  	<td><%= t"views.users.email"%></td>
  	<td><%= t"views.users.sex"%></td>
  	<td><%= t"views.users.address"%></td>
  	<td><%= t"views.users.phone"%></td>
  </tr>
  <tr>
  	<td><%= @user.name %></td>
  	<td><%= @user.email %></td>
  	<td><%= @user.sex %></td>
  	<td><%= @user.address %></td>
  	<td><%= @user.phone_number %></td>
  </tr>
</table>
